<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="it" xml:lang="it">
   <head>
      <meta http-equiv="content-type" content="text/html;charset=utf-8" />
      <meta http-equiv="Cache-Control" content="no-cache" />
      <meta http-equiv="Pragma" content="no-cache" />
      <title>INAIL - Bando ISI -- REAL</title>
   </head>

   <body>
     <center>
        <p/><br/><br/><br/><br/><img src="/images/inail.png" alt="Logo Inail" width="208" height="61"/><br/><br/><br/><br/>
            <h3>INAIL AVVISO PUBBLICO QUADRO 2013<br/> INCENTIVI ALLE IMPRESE PER LA REALIZZAZIONE DI INTERVENTI<br/> IN MATERIA DI SALUTE E SICUREZZA SUL LAVORO<br/> art. 11, comma 1 lett. a) e comma 5 D.lgs 81/2008 s.m.i.<br/><br/> SPORTELLO INFORMATICO PER L'INVIO DELLA DOMANDA ON LINE</h3>
         <br/>
         <p>Congratulazioni!</p>
         <p><a href="/">Torna alla form</a></p>
      </center>
   </body>
</html>
